<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager.Redis" type="CacheManager.Redis.RedisConfigurationSection, CacheManager.StackExchange.Redis" />
  </configSections>
  <appSettings>
    <add key="CacheManagerConfigName" value="multiCacheName" />
  </appSettings>
  <connectionStrings>
    <add name="redisFromConnectionStrings" connectionString="127.0.0.1:6379,allowAdmin=True,connectTimeout=11,ssl=False,abortConnect=False,connectRetry=10" />
  </connectionStrings>

  <cacheManager xmlns="http://tempuri.org/CacheManagerCfg.xsd">
    <managers>
      <cache name="multiCache" updateMode="Up" enableStatistics="false" enablePerformanceCounters="false" serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json" backplaneName="redisAppConfig" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis">
        <handle name="runtimeCache" ref="systemRuntimeHandle" expirationMode="Sliding" timeout="2m" />
        <handle name="redisAppConfig" ref="redisHandle" isBackplaneSource="true" expirationMode="Absolute" timeout="48h" />
      </cache>
      <cache name="systemRuntimeCache" updateMode="None">
        <handle name="systemRuntimeHandle" ref="systemRuntimeHandle" expirationMode="Sliding" timeout="1h" />
      </cache>
      <cache name="redisCache" updateMode="None" serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
        <handle name="redisHandle" ref="redisHandle" expirationMode="None" />
      </cache>
      <cache name="dictionaryCache" updateMode="None">
        <handle name="dicHandle" ref="dicHandle" expirationMode="None" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="systemRuntimeHandle" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="60s" />
      <handleDef id="redisHandle" type="CacheManager.Redis.RedisCacheHandle`1, CacheManager.StackExchange.Redis" defaultExpirationMode="Absolute" defaultTimeout="48h" />
      <handleDef id="dicHandle" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core" defaultExpirationMode="Sliding" defaultTimeout="2h" />
    </cacheHandles>
  </cacheManager>
  <cacheManager.Redis>
    <connections>
      <connection id="redisAppConfig" allowAdmin="true" database="2" password="" ssl="false" sslHost="" connectionTimeout="12">
        <endpoints>
          <endpoint host="172.16.200.131" port="14343" />
        </endpoints>
      </connection>
    </connections>
  </cacheManager.Redis>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpModules>
          <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
    </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.1.28.0" newVersion="1.1.28.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
